<a href="https://colab.research.google.com/github/ChandiniKS/Machine-learning3/blob/main/knn_project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [89]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [51]:
data1=data.drop(["User ID"],axis=1)

In [52]:
data1["Gender"]=data1["Gender"].apply({"Male":1,"Female":2}.get)

In [53]:
data1.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       2   26            43000          0
3       2   27            57000          0
4       1   19            76000          0

In [90]:
x=data1[["Gender","Age","EstimatedSalary"]]
y=data1["Purchased"]

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

In [56]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)

In [57]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [58]:
y_pred=knn.predict(x_test)

In [59]:
print(y_pred)

[0 1 1 1 0 0 0 0 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 1 0 0 1 1 1 1 0 1 1 1 1 1 1
 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 1 0 0 1 0 1 1 0
 0 0 0 0 0 0]

In [60]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [61]:
print(ac)

0.775

In [92]:
new_data={"Gender":0,"Age":23}

In [93]:
index=[1]

In [94]:
new_data1=pd.DataFrame(new_data,index)

In [95]:
pred1=knn.predict(new_data1)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [96]:
print(pred)

[0]